<!-- Inline Partial content template, can be placed anywhere within the page. -->
<!-- Remember Parial names are very much case sensitive -->
<!-- Please check at > myPartial -->
{{#*inline "myPartial"}}
<span style="color:blue; font-family:Broadway; font-size:9px">(Copy Right)</span>
{{/inline}}
<!-- End of inline partial content tempalte. -->

<h1>{{title}}</h1>

<p>Below are all the addresses From SQL Server / {{application}}</p>    <!-- {{application}} is from app.js, local variable defined through hbs-->

<table border="1">
    <tr>
        <th>Sl.No.</th>
        {{#each data.columns}}
        <th>{{this.name}}</th>
        {{/each}}
    </tr>
    <tr>
        {{#each data}}
        <td>{{@index}}</td>
        <td>{{this.Number}} {{> myPartial}}</td> <!-- Inline Partial Content-->
        <td>{{this.Street}}</td>
        <td>{{this.City}}</td>
        <td>{{this.State}}</td>
        {{/each}}
    </tr>
</table>

Goto Users : <a href="/users"> {{boldit 'Click me.'}}</a>
<!--Goto Users : <a href="/users"> Click me.</a>-->